.git
.gitignore
.cache
__pycache__
**/__pycache__
*.pyc
*.pyo
*.egg-info
.venv
venv
docs/_build
.pytest_cache
.mypy_cache
.ruff_cache
runs
work
backups
data
.ontoanno.env
.env
.apptainer
*.sif
*.sif.*
